{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"endOfLine": "auto",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^[react*]",
		"native-base",
		"@api/(.*)$",
		"@components/(.*)$",
		"@hooks/(.*)$",
		"@features/(.*)$",
		"@storage/(.*)$",
		"@store/(.*)$",
		"@utils/(.*)$",
		"@routes/(.*)$",
		"@types/(.*)$",
		"@dtos/(.*)$",
		"^[./]"
	],
	"importOrderCaseInsensitive": true,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"jsonRecursiveSort": true,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"semi": false,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"importOrderParserPlugins": ["jsx", "typescript"]
}
